html {
  background-color: rgb(48, 48, 56);
  color: #eee;
  font-family:'Whitney', sans-serif;
}

input, textarea, button {
  font-family: inherit;
  background-color: rgb(56, 56, 64);
  color: #eee;
  border: #777 2px solid;
  border-radius: 4px;
  padding: 2px;
  margin: 3px 8px;
}

textarea {
  font-size: 1.1rem;
  font-weight: normal;
}

button {
  background-color: rgb(80, 80, 88);
  padding: 2px 8px;
  min-width: 100px;
}

button:hover {
  background-color: rgb(96, 96, 104);
}

button:active {
  background-color: rgb(104, 104, 112);
}

button:disabled, textarea:disabled {
  background-color: rgb(56, 56, 64);
  color: #999;
  border-color: #555;
}

nav > ul > li {
  display: inline-block;
  margin: 4px;
}

a {
  color: cornflowerblue;
}

/* Fades the popout wheel in (class added on spin) */
.fade-in {
  opacity: 100%;
  visibility: visible;
  transition: all 0.5s ease-out;

}

/* Fades the popout wheel out after a delay */
.fade:not(.fade-in) {
  opacity: 0%;
  visibility: hidden;
  transition: all 0.5s ease-out 5s;
}

#wheel-g {
  position: relative;
  transform-origin: 48.51% 50%;
}

.wheel-sector {
  stroke: #222;
  stroke-width: 1px;
  fill-opacity: 0.7;
}

.wheel-text {
  font-size: 1.2rem;
  font-weight: normal;
}
